.banner {
     display: block;
    /* padding-left: 5%;
     padding-right: 5%;*/
  	margin-left: auto;
  	margin-right: auto;
  	margin-top:10%;
  	width:80%;
    max-width: 500px;
  }

.textbody{
	margin-left: 15%;
  	margin-right: 15%;
  	margin-top:60px;
    font-size:calc(8px + 1.0vw);
  	color: #ecd9ac;
  	font-family: "Courier New", Courier, monospace;


}
.checkout
{
  width: 50%;
  margin: auto;
  padding-top:20%;
}

.center
{
	margin-top: auto;
	margin-bottom: auto;
  position: relative;;
}

.icon
{
  	width: 25px;
}
