.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  max-width: 500px;
  padding-top: 60px;
}

.textbody {
  max-width: 600px;
  padding-top: 50px;

  text-align: center;
  font-size: 16px;
  color: #ecd9ac;
  font-family: "Courier New", Courier, monospace;
}

.divider {
  display: block;
  max-width: 800px;
  padding-top: 50px;
}

.reserveButton {
  width: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.checkout {
  width: 400px;
  margin: auto;
  padding-top:20%;
}

.center {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;;
}

.icon {
    width: 25px;
}
